@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body,html {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background-color: #fff;
    max-width: 980px;
    margin: auto;
    padding: 0;
    font-weight: 300;
    line-height: 1.625em;

}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #525050;
    padding: 7px 0;
}

/* Nav */

.nav {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    color: #5A5555;
    text-decoration: none;
    margin-left: 25px;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:hover {
    color: #302D2D;
    opacity: 1;
}

#search input[type="text"] {
    background: url(../img/search-dark.png) no-repeat 10px 6px;
    background-color: transparent;
    opacity: 0.75;
    border: 2px solid #737070;
    color: #141313;
    width: 180px;
    padding: 6px 0px 6px 30px;
    border-radius: 20px;
}

#search input[type="text"]:focus {
    width: 250px;
}

/* INTRO */

.mama{
display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
    min-height: 500px;
    width: 100%;
    padding-top: 100px;
   background: #31344e url("../img/title.jpg") center no-repeat;
    background-size: cover;

}

.intro-inner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 0.35em 1.2em;
    border: 0.2em solid #837C7C;
    margin: 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: #2B2929;
    font-family: inherit;
    text-align: center;
    background-color: #D5D4D4;
    opacity: 0.75;
    transition: background 0.1s linear;
}
.btn:hover{
    color: #322D2D;
    background-color: #A3A0A0;
}
/* section styling */

.flex h1 {
    text-align: center;
    margin-top: 2em;
}

.novosti-h2 {
    text-align: center;
    margin: 5
}

.video-h2 {
    text-align: center;
    margin: 5
}

.col {
    padding-bottom: 5px;
    color: #424346;
    background: #FFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.col h2, .col p {
    margin: 0;
    padding: 0;
}

.col h2 {
    margin: .75em 0 .5em;
    text-align: center;
}

.col p {
    text-align: justify;
    font-size: 0.9em;
    padding: 0 5px;
}

.butt {
    padding: 8px 15px 6px;
    font-size: .7em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    border-radius: 3px;
    background: #9B9A9B;
    transition: all .275s;
}

.flex .col img {
    width: 100%;
    height: auto;
}

.flex iframe {}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0;
}

.flex .col {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    margin: 1em 1em;
}

.flex .col .butt {
    align-self: flex-start;
    margin-top: auto;
}

@media (max-width: 900px) {
    .flex {
        flex-wrap: wrap;
    }
}
